.product_table {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px;
  max-width: 300px;
  display: grid;
  gap: 12px;
  font-size: 24px;
  font-weight: bold;
}
.product_name {
  color: rgb(125, 25, 255);
}
.product_price {
  color: rgb(80, 200, 120);
}
.product_exists {
  color: rgb(0, 252, 0);
}
.product_exists-not {
  color: rgb(252, 0, 0);
}